* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  background-color: #ff7cc2;
  box-shadow: 0 0 5px inset #aa005bde;
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-thumb {
  background: #8f0688d5;
  border-radius: 10px;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-image: url('./image/sky.jpg');
  background-repeat: round;
  display: flex;
  justify-content: center;
  user-select: none;
  min-height: 100vh;
  padding: 2rem;
}

h1 {
  margin: 2rem;
  text-align: center;
  font-size: 6rem;
  color: whitesmoke;
}

.board {
  border: 10px solid black;
  background: black;
  width: 450px;
  height: 450px;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 10px;
  margin: 0 auto;
}

.squares {
  background: rgb(71, 3, 68);
  border: none;
  font-size: 5rem;
  cursor: pointer;
  outline: none;
}


button:hover {
  background: rgba(143, 6, 136, 0.836);
}

.X {
  color: greenyellow;
}

.O {
  color: rgb(255, 0, 64);
}

.info-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  font-size: 1.5rem;
}

h3 {
  padding: 1rem;
  color: rgb(255, 217, 0);
  font-size: 1.6rem;
  font-weight: bold;
}

li {
  list-style: none;
}

.info-wrapper button {
  background: #272727;
  color: white;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 0.7rem;
  margin: 0.5rem 1rem;
  font-size: large;
}

.info-wrapper button:hover {
  opacity: 0.9;
}


.sweet-alert {
  background-color: #2f2f2f96;
}